# Include user settings from a file in the home directory
[include]
  path = ~/.gitconfig.local
[push]
  default = simple
[merge]
  tool = vimdiff
[difftool]
  trustExitCode = true
[commit]
  verbose = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  ignorecase = false
[alias]
  # Source of conflicts script: https://gist.github.com/jacobvosmaer/3187346
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
  ca = commit --amend
  cae = commit --amend --no-edit --no-verify
  co = checkout
  cob = checkout -b
  conflicts = !git diff --name-only --diff-filter=U --relative -z | xargs -0
  d = diff
  exec = "!exec "
  l = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  pushhard = push --no-verify -f
  root = "!git rev-parse --show-toplevel"
  git = "!git"
  s = status
  todo = commit --allow-empty --no-verify -m
  wip = !git add -A && git commit
  wtf = "! git log --pretty=tformat:\"%C(auto,yellow)%h%C(auto)%d%C(auto,reset) by %C(auto,blue)%cn%C(auto,reset), %C(auto,cyan)%ar%C(auto,reset)%n %s%n\" --stat"
  cm = commit --no-verify -m
[credential]
  helper = osxkeychain
[diff]
  algorithm = patience
