# This is Git's per-user configuration file.
[user]
  email = nathan.schwartz95@gmail.com
  name = Nathan Schwartz
[push]
  default = simple
[merge]
  tool = vimdiff
[core]
  editor = vim
  ignorecase = false
[alias]
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
  s = status
  d = diff
  co = checkout
  cob = checkout -b
  wip = !git add -A && git commit -m 'wip'
  cm = commit -m
  ca = commit --amend
  cae = commit --amend --no-edit
# l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  l = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  wtf = "! git log --pretty=tformat:\"%C(auto,yellow)%h%C(auto)%d%C(auto,reset) by %C(auto,blue)%cn%C(auto,reset), %C(auto,cyan)%ar%C(auto,reset)%n %s%n\" --stat"
