nodejs          22.14.0
ripgrep         14.1.1
delta           0.18.2
biome           1.9.4
jq              1.8.1
shellcheck      0.11.0
shfmt           3.12.0
jc              1.25.6
yq              4.52.4
npm:@tobilu/qmd 1.1.5
